.root {
  padding: 10px 24px 10px 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.deleteButtonSpinnerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0px 4px 0px;
  width: 70px;
  background-color: var(--c-orange);
  border-radius: 3px;
  cursor: pointer;
  color: var(--c-white);
}
