:root {
  --c-background: rgb(8, 12, 15);
  --c-darkGray: rgb(21, 30, 39);
  --c-midGray: rgb(136, 153, 166);
  --c-white: rgb(245, 245, 258);
  --c-green: rgb(30, 215, 96);
  --c-orange: rgb(245, 111, 40);
  --c-orange-10: rgba(245, 111, 40, 0.1);
}
