.root {
  display: flex;
  align-items: center;
  padding: 15px 24px 15px 24px;
}

.wastebasketIcon {
  height: 26px;
  width: 22px;
  color: var(--c-orange);
  margin-right: 10px;
}

.title {
  font-size: 14px;
  font-family: SFProDisplay-SemiBold;
}
